.a {
  text-decoration: underline;
  font-weight: bold;
}

.h2 {
  padding-top: 4;
  line-height: 1.8;
  color: var(--color-pink);
}

.codeBlock {
  text-wrap: wrap;
  font-weight: bold;
  background-color: transparent;
  color: var(--color-purple);
  border: 1px solid var(--color-purple);
}
